docker.enabled = true

timeline {
  enabled = true
}
report {
  enabled = true
}
trace {
  enabled = true
}
dag {
  enabled = true
}



profiles {

  local {
    process.executor = 'local'
  }

  docker {
    process.executor = 'local'
    docker.enabled = true
  }

  aws {
    process.executor = 'awsbatch'
    process.queue = 'nextflow'
    executor.awscli = '/home/ec2-user/miniconda/bin/aws'
    workDir = 's3://czb-nextflow/work'
    docker.enabled = true
    params.tracedir = './'
  }
  test {
  params {
    // Input data
    samples = 'testing/samples.csv'
    fastas = 'testing/fastas/*.fasta'
    ksizes = '3,9'
    log2_sketch_sizes = '2,4'
    molecules = 'dna,protein'
    read_pairs = 'testing/fastqs/*{1,2}.fastq.gz'
    sra = "SRP016501"
    create_sbt_index = True
    }
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']


aws {
	region = 'us-west-2'

    client {
        maxConnections = 20
        connectionTimeout = 10000
        uploadStorageClass = 'INTELLIGENT_TIERING'
        storageEncryption = 'AES256'
    }
}


process {


  maxRetries = 3
  maxErrors = '-1'

  // Resource requirements
  withName: sourmash_compare_sketches {
    memory = 1024.GB
    cpus = 1
    executor = 'local'
  }
  withName: sourmash_compute_sketch {
    memory = 4.GB
    cpus = 1
  }
  // Resource requirements
  withName: sourmash_index_sketches {
    memory = 1024.GB
    cpus = 1
    executor = 'local'
  }
}
